{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="tool-container">
    <div align="center">
        <!-- Header -->
        <h1 style="text-align:center;">Top Training Partners</h1>
    </div>
    <div align="center">
        <div style="display:inline-block">
            <ol style="text-align:left;">
                {% for rider in training_partners %}
                    <li>{{rider}}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="update">
            <div>
                <button id="update_tpp" type="button" class="btn btn-default">Update</button>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $("#update_tpp").click(function(e){
                            e.preventDefault();

                            $.ajax({
                                type:'POST',
                                url:'/',
                                data:{
                                    name:$('#name').val(),
                                },
                                success:function(){

                                }
                            })
                        });
                    });
                </script>
            </div>
            <div class="last-updated">
                last updated: {{last_updated}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
