{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="tool-container">
    <div align="center">
        <!-- Header -->
        <h1 style="text-align:center;">Top Training Partners</h1>
    </div>
    <div align="center">
        <div style="display:inline-block">
            <ol style="text-align:left;">
                {% for rider in training_partners %}
                    <li>{{rider}}</li>
                {% endfor %}
            </ol>
            <p>*last updated: {{last_updated}}</p>
        </div>
    </div>
</div>
{% endblock %}
