{% extends 'base.html' %}
{% load staticfiles %}


{% block body %}
    <div align="center">
        <!-- Header -->
        <h1 style="text-align:center;">Flats-n-Stats</h1>

        <p> A site for avid strava users. Utilizing the Strava API, Flats-n-Stats provides enriching data and tools to analyze your activities in new ways.</p>
        <p> To use these tools you need to authorize this application to access your Strava data.</p>

        <a href="#">
            <img src="{% static 'img/1.1 connect with strava/light/light_small.png' %}" alt="Connect with Strava">
        </a>
    </div>
{% endblock %}
