{% extends 'base.html' %}
{% load static %}


{% block body %}
<div align="center">
    <!-- Header -->
    <h1 style="text-align:center;">Flats-n-Stats</h1>
</div>

<div class="user-overview">
    <div class="user-banner">
        <div style="float: left">
            <img class="img-circle" src="{{profile_picture}}">
        </div>
        <div>
            <h2 class="name">{{first_name}} {{last_name}}</h2>
        </div>
    </div>
    <div class="widgets-container">
        <div class="widget" style="position:relative">
            <a href="{% url 'top_training_partners' %}"><span class="widget-link"></span></a>
            <div class="ride-partners">
                <h4>Top Training Partners</h4>
                <ol>
                {% for rider in training_partners %}
                    <li>{{rider}}</li>
                {% endfor %}
                    <li>...</li>
                </ol>
            </div>
        </div>
        <div class="widget" style="position:relative">
            <a href="{% url 'race_statistics' %}"><span class="widget-link"></span></a>
            <div class="race-statistics">
                <h4>Race Statistics</h4>
                <ul>
                    <li>Total race miles</li>
                    <li># of races</li>
                    <li>Race History</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
