h1 {
  font-family: 'Indie Flower';
}

body {
  background-color: #e6e6e6;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid Silver;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.creator-credit {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer-container {
  background-color: white;
  color: #6d6d6d;
  display: flex;
  justify-content: center;
  width:100%;
}

.footer-content-container {
  width:80%;
}

.img-circle {
  border-radius: 50%;
  zoom: 60%;
  margin-right: 30px;
}

.name {
  float: left;
}

.navbar {
  border-radius: 0;
}

.navbar-brand {
  font-family: 'Indie Flower';
}

.left {
  float: left;
}

.right {
  float: right;
}

.tool-container {
  background-color: #f2f2f2;
  border-color: Silver;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  padding: 1px 12px 3px 12px;
  box-sizing: border-box;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1;
}

.update {
  text-align: right;
}

.last-updated {
  text-align: right;
  color: gray;
  font-size: small;
}

.widget {
  /* DarkGray, Gray, DimGray, Silver */
  background-color: #f2f2f2;
  border-color: Silver;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  padding: 0px 12px;
  width: 32%;
  margin: 0% 1% 1% 0%;
  float: left;
}

.widget:hover {
  box-shadow: 0 0 3px 3px rgba(255, 102, 0, 0.7);
  background-color: LightGray;
}

.widget-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.widgets-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.user-banner {
  overflow: hidden;
  margin: 0px 0px 10px; 0px;
}

#body-wrapper {
  margin: 20px 50px;
}