h1 {
    font-family: 'Indie Flower';
}

body {
	background-color: #e6e6e6;
}

.creator-credit {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-container {
    background-color: white;
    color: #b3b3b3;
    display: flex;
    justify-content: center;
    width:100%;
}

.footer-content-container {
    width:80%;
}

.img-circle {
    border-radius: 50%;
    zoom: 60%;
    margin-right: 30px;
}

.name {
    float: left;
    margin-right: 10px;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Indie Flower';
}

.left {
    float: left;
}

.right {
    float: right;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1;
}

.widget-container {
  /* DarkGray, Gray, DimGray, Silver */
  border-color: Silver;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  padding: 0px 12px;

}
.widget-container:hover {
    box-shadow: 0 0 3px 3px rgba(255, 102, 0, 0.7);
    background-color: LightGray;
}

.widget-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.user-banner {
  overflow: hidden;
  margin: 0px 0px 10px; 0px;
}

#body-wrapper {
    margin: 20px 50px;
}