{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="tool-container">
    <div align="center">
        <!-- Header -->
        <h1 style="text-align:center;">Race Statistics</h1>
    </div>
    <div>
        <div class="race-summary">
            <h4>Summary</h4>
            <table style="width: 10px;">
                <tr>
                    <td>total&nbsp;race&nbsp;miles</td>
                    <td>{{total_race_mileage}}</td>
                </tr>
                <tr>
                    <td>#&nbsp;of&nbsp;races</td>
                    <td>{{num_races}}</td>
                </tr>
            </table>
        </div>
        <br>
        <div class="race-history">
            <h4>Race History</h4>
            <div style="text-align:center">
                <div id="calendar-container"></div>
            </div>
            <ul>
            {% for race in race_list %}
                <li><span class="width-formatted">{{race.date}}</span><a href={{race.url}}>{{race.name}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script src="{% static 'javascript/year_calendar.js' %}"></script>
{% endblock %}
